body{
    overflow-x: hidden;
}

.hero{
    width: 100vw;
    height: 60vh;
    background-color: var(--priCol);
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    position: relative;
}

.myPic{
    position: relative;
}

#myHeroPic{
    width: 355px;
    height: 61vh;
    position: absolute;
    right: 100px;
    animation: fade-in 3s forwards;
}

@keyframes fade-in{
    0%{ opacity: 0; }
    100% { opacity: 1; }
}

.myIntro{
    position: absolute;
    left: 55%;
    top: 6%;
    color: var(--white);
}

.name{
    font-size: 50px;
}

.name > span{
    color: var(--secCol);
}

.line1{
    font-size: 35px;
    overflow: hidden;
    white-space: nowrap;
    transition: 0.1s linear;
}

#line1{
    color: var(--lightGrey);
}

.line2{
    font-size: 25px;
}

.cursor{
    display: inline-block;
    width: 3px;
    background-color: var(--white);
    border-radius: 20px;
    margin-left: 0.3rem;
    animation: blink 1s infinite;
}

@keyframes blink{
    0%, 49%, 100% {background-color: var(--white);}
    50%, 99%{background-color: transparent;}
}

.cursor.typing{
    animation: none;
}

.myIntro > .buttons{
    display: flex;
    margin: 10px 10px 20px;
}

.myIntro > .buttons > .downloadCV{
    margin-right: 15px;
    padding: 8px 10px;
    background-color: var(--secCol);
    font-weight: bold;  
}

.downloadCV > a,.hireME > a{
    color: var(--white);
}

.hireME{
    margin-left: 15px;
    padding: 8px 17px;
    background-color: var(--secCol);
    font-weight: bold;  
}

@media screen and (max-width: 768px){
    #myHeroPic{
        display: none;
    }

    .hero{
        justify-content: unset;
        height: 40vh;
    }
    
    .myIntro{
        position: unset;
        padding: 0 10px;
        padding-top: 30px;
    }

    .name{
        font-size: 30px;
    }
    
    .name > span{
        font-size: 35px;
        margin-top: 10px;
    }
    
    .line1{
        font-size: 21px;
    }
    
    #line1{
        font-size: 25px;
    }
    
    .cursor{
        font-size: 25px;
    }

    .line2{
        font-size: 19px;
        margin-top: 10px;
    }
}