::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    border-radius: 2px;
    background: var(--secCol);
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px -2px rgba(255, 255, 255, 0.25);
}
::-webkit-scrollbar-track{
    background: linear-gradient(to right, #dbb6b6,#dbb6b6 1px,#d3c9c9 1px,#d3c9d3);
}