*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #e5e4e2;
}

.text-primary{
    color: #007bff;
}

a:first-child .facebook i{
    position: relative;
    left: 4px;
}

a div:hover i{
    color: white;
}

a:hover{
    color: #007bff;
}

a div:hover{
    background-color: #007bff;
}

#myPhoto{
    background-image: url("Images/myPhoto.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 87%;
}

.html,.css,.javascript,.cpp,.php,.bootstrap{
    background-image: linear-gradient(#6fb5ff,#007bff);
}

.html{
    animation-name: html;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes html{
    from{width: 0;}
    to{width: 90%;}
}

.css{
    width: 0;
    animation-name: css;
    /* animation-delay: 5s; */
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes css{
    from{width: 0;}
    to{width: 82%;}
}

.javascript{
    width: 0;
    animation-name: javascript;
    /* animation-delay: 5s; */
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes javascript{
    from{width: 0;}
    to{width: 69%;}
}

.bootstrap{
    width: 0;
    animation-name: bootstrap;
    /* animation-delay: 5s; */
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes bootstrap{
    from{width: 0;}
    to{width: 77%;}
}

.cpp{
    width: 0;
    animation-name: cpp;
    /* animation-delay: 5s; */
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes cpp{
    from{width: 0;}
    to{width: 86%;}
}

.php{
    width: 0;
    animation-name: php;
    /* animation-delay: 5s; */
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes php{
    from{width: 0;}
    to{width: 79%;}
}